@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lobster&family=Roboto+Slab:wght@300;400;500;600&display=swap');

$white: #ffffff;
$black: #000000;
$gray: #e6e6e6;
$light-gray: #eeeeee;
$dark-gray: #818181;
$blue: #44c7dc;
$green: #5c911c;
$orange: #ec7429;
$red: #c30100;
$beige: #f3daae;
$primary-color: #e3ab39;
$fontsize-xl: calc(1vw + 2rem);
$fontsize-lg: calc(1vw + 1rem);
$fontsize-md: calc(0.2vw + 1rem);
$fontsize-sm: calc(0.1vw + 0.9rem);
$responsive-padding: calc(1vh + 0.5rem);
$font-dancing: 'Dancing Script', sans-serif;
$font-lobster: 'Lobster', sans-serif;
$font-roboto: 'Roboto Slab', sans-serif;
$breakpoints: (
  'extra-large': (
    max-width: 1199px,
  ),
  'large': (
    max-width: 991px,
  ),
  'medium': (
    max-width: 767px,
  ),
  'small': (
    max-width: 575px,
  ),
  'extra-small': (
    max-width: 399px,
  ),
);
