.btn-link {
  @include transition-easeinout(0.3s);

  &:hover {
    color: $primary-color !important;
  }
}

.btn-underline {
  position: relative;
  padding-bottom: 2px;
  @include transition-easeinout(0.3s);

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: $primary-color;
    @include transform-translateX(-50%);
    @include transition-easeinout(0.3s);
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &.active {
    width: 100%;
  }
}

.btn-primary {
  background-color: $black;
  color: $white;
  letter-spacing: 1px;
  padding: 0.4rem 0.8rem;
  border-radius: 0;
  @include text-uppercase(0.7rem, 400);
  @include transition-easeinout(0.3s);

  &:hover {
    background-color: $primary-color;
  }
}

.btn-secondary {
  color: $dark-gray;
  padding: 0;
  @include transition-easeinout(0.3s);

  &:hover {
    color: $primary-color;
  }
}
