.product-item {
  .product-img {
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .product-widget {
      @include flex(inherit, center, row);
      @include transition-easeinout(0.3s);
    }

    &.product--sale {
      &:after {
        content: 'Sale';
        background-color: $primary-color;
        border-color: $primary-color;
        -webkit-box-shadow: 0 0 0 3px $white, 0 0 0 4px $primary-color;
        box-shadow: 0 0 0 3px $white, 0 0 0 4px $primary-color;
      }
    }

    &.product--new {
      &:after {
        content: 'New';
        background-color: $green;
        border-color: $green;
        -webkit-box-shadow: 0 0 0 3px $white, 0 0 0 4px $green;
        box-shadow: 0 0 0 3px $white, 0 0 0 4px $green;
      }
    }

    &.product--hot {
      &:after {
        content: 'Hot';
        background-color: $red;
        border-color: $red;
        -webkit-box-shadow: 0 0 0 3px $white, 0 0 0 4px $red;
        box-shadow: 0 0 0 3px $white, 0 0 0 4px $red;
      }
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1.2rem 1.5rem 0.2rem;
      color: $white;
      @include text-capitalize(0.8rem, 400);
      @include transform-translate-rotate(-36%, -25%, -45deg);
    }
  }

  .product-text {
    .product-price {
      @include flex(center, center, row, 5px);

      span {
        padding-left: 0.5rem;
      }

      .new-price {
        color: $primary-color;
      }

      .old-price {
        color: $dark-gray;
        text-decoration: line-through;
      }

      .new-price,
      .old-price {
        position: relative;

        span {
          position: absolute;
          top: 0;
          right: -8px;
        }
      }
    }
  }

  &.product-item--big {
    .product-img {
      &:after {
        padding: 2rem 3rem 0.4rem;
        @include text-capitalize($fontsize-md, 300);
      }
    }

    .product-text {
      .product-price {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        @include padding-y(0, 1.2rem);

        .new-price {
          font-size: 2rem;
          font-weight: 300;

          span {
            font-size: 1rem;
            top: 5px;
          }
        }

        .old-price {
          font-size: 1rem;

          span {
            font-size: 11px;
          }
        }
      }

      .product-desc {
        color: $dark-gray;
        font-size: 0.75rem;
        @include padding-y(1rem, 2rem);
      }
    }
  }

  &.product-item--grid {
    .product-img {
      .product-widget {
        background-color: $black;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2rem;

        .product-widget-item {
          color: $dark-gray;
          text-align: center;
          font-size: 0.85rem;
          width: 20%;
          padding: 0.3rem 0;
          @include transition-easeinout(0.3s);

          @include respond-to('extra-small') {
            font-size: 0.7rem;
          }

          span {
            font-size: 1rem;
            padding-right: 5px;

            @include respond-to('extra-small') {
              font-size: 0.8rem;
            }
          }

          &:not(:last-of-type) {
            width: 40%;
            border-right: 1px solid $dark-gray;
          }

          &:hover {
            color: $white;
          }
        }
      }
    }

    .product-text {
      padding-top: 1rem;

      .product-name {
        @include text-uppercase(0.95rem, 400);
      }

      .product-price {
        font-weight: 400;
        @include padding-y(0.2rem, 0.7rem);

        .new-price {
          font-size: 1.2rem;

          span {
            font-size: 13px;
          }
        }

        .old-price {
          font-size: 0.8rem;

          span {
            font-size: 11px;
          }
        }
      }
    }

    &:hover {
      a {
        color: $primary-color;
      }

      .btn {
        background-color: $primary-color;
      }

      .product-widget {
        bottom: 0;
      }
    }
  }
}
