block variables
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge")
        meta(content="", name="description")
        meta(content="", name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(content="telephone=no", name="format-detection")
        meta(name="HandheldFriendly", content="true")

        // Font Awesome
        link(href="./assets/lib/font-awesome/css/all.min.css", rel="stylesheet")
        // Bootstrap
        link(href="./assets/lib/bootstrap/css/bootstrap.css", rel="stylesheet")
        // Elegane Icon
        link(href="./assets/lib/elegant-icon/elegant-icon.css", rel="stylesheet")
        // Styles
        link(href="./css/main.css", rel="stylesheet")
        
        block styles

        title= title + " | Wine Shop"
    body
        block layout
        
        script(src="./assets/lib/bootstrap/assets/js/jquery-slim.min.js")
        script(src="./assets/lib/bootstrap/assets/js/popper.min.js")
        script(src="./assets/lib/bootstrap/dist/js/bootstrap.min.js")
        
        block scripts