body {
  font-family: $font-roboto;
  color: $black;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $black;
}

ol,
ul,
dl {
  list-style: none;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

input,
button,
textarea,
select {
  border: none;
  background-color: transparent;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
