.blog {
  padding-bottom: 4rem;
}

.blog-details {
  .blog-sidebar {
    h1 {
      padding-bottom: 0.5rem;
      @include text-uppercase(1rem, 500);
    }

    .blog-latest {
      padding-bottom: 1rem;

      .blog-latest-item {
        padding-bottom: 1rem;

        .blog-img {
          a {
            display: block;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 100%;
            height: 0;
            padding-top: 75%;

            span {
              font-size: 0.8rem;
              padding: 9%;
            }

            &:after {
              @include transform-translate-skewY(-50%, 50%, -37deg);
            }
          }
        }

        a {
          @include text-uppercase(0.8rem, 500);
        }

        p {
          color: $dark-gray;
          font-size: 0.8rem;
          @include flex(inherit, center, row);

          span {
            padding-right: 7px;
          }
        }
      }
    }

    .blog-tag {
      padding-bottom: 2rem;

      .tag {
        display: inline-block;
        background-color: $light-gray;
        font-size: 0.85rem;
        padding: 0.2rem 0.5rem;
        margin-right: 3px;
        margin-bottom: 6px;

        &.tag--active {
          background-color: $orange;
          color: $white;
        }
      }
    }

    .blog-latest-video {
      padding-bottom: 4rem;

      .blog-video {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 62.5%;
        overflow: hidden;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .blog-content {
    > h1 {
      padding-top: 2rem;
      letter-spacing: 2px;
      @include text-uppercase($fontsize-lg, 400);
    }

    > h3 {
      color: $dark-gray;
      font-size: 1rem;
    }

    .content {
      color: $dark-gray;
      font-style: italic;
      @include padding-y(1rem, 2.5rem);
    }

    .blog-form {
      h3 {
        font-style: italic;
        padding-bottom: 1rem;
        @include text-uppercase(1.1rem, 400);
      }

      .input-group {
        padding-bottom: 2rem;

        label {
          display: inline-block;
          width: 80px;
          font-style: italic;

          @include respond-to('extra-small') {
            display: block;
            width: 100%;
          }
        }

        input,
        textarea {
          padding: 0.4rem 0.8rem;
          font-size: 0.9rem;
          width: calc(100% - 80px);
          @include border(1px, $gray, 3px);

          @include respond-to('extra-small') {
            width: 100%;
          }
        }
      }

      button {
        margin-left: 80px;
      }
    }

    .blog-comments {
      @include padding-y(2rem, 4rem);

      h1 {
        padding-bottom: 1rem;
        @include text-uppercase(1.1rem, 500);
      }

      .comment-item {
        .comment-header {
          background-color: $light-gray;
          padding: 0.6rem 1.3rem;
          border-radius: 7px;
          font-style: italic;
          @include flex(space-between, center, row);

          @include respond-to('small') {
            @include flex(inherit, flex-start, column, 5px);
          }

          .comment-info {
            @include flex(inherit, center, row);

            @include respond-to('extra-small') {
              @include flex(inherit, flex-start, column, 5px);
            }

            h3 {
              color: $dark-gray;
              font-size: 0.9rem;
              font-weight: 400;
              margin-bottom: 0;
              @include padding-y(0.2rem, 0.2rem);

              &.comment-name {
                padding-right: 40px;
                @include border-right(1px, $dark-gray);

                @include respond-to('small') {
                  padding-right: 20px;
                }

                @include respond-to('extra-small') {
                  border: none;
                }
              }

              &.comment-time {
                padding-left: 20px;

                @include respond-to('small') {
                  padding-left: 10px;
                }

                @include respond-to('extra-small') {
                  padding-left: 0;
                }
              }
            }
          }

          button {
            position: relative;
            font-style: italic;

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              @include border-bottom(1px, $dark-gray);
              @include transition-easeinout(0.3s);
            }

            &:hover {
              &:after {
                @include border-bottom(1px, $primary-color);
              }
            }
          }
        }

        .comment-content {
          color: $dark-gray;
          font-size: 0.9rem;
          padding: 0.8rem 0.2rem 2rem 1.3rem;
        }
      }
    }

    .pagination {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;

      .page-item {
        .page-link {
          border-radius: 0;
          margin-left: 0.7rem;
          padding: 0.4rem 0.8rem;
          color: $black;
          @include transition-easeinout(0.3s);

          &:hover {
            background-color: $dark-gray;
            color: $white;
          }
        }

        &:first-of-type,
        &:last-of-type {
          .page-link {
            background-color: $black;
            color: $white;
          }
        }

        &.active {
          .page-link {
            background-color: $dark-gray;
            color: $white;
            @include border(1px, $dark-gray);
          }
        }
      }
    }
  }
}
