.introduce {
  background: url('../assets/img/banner.jpg') no-repeat center center / cover;
  @include padding-y(5rem, 5rem);

  .introduce-text {
    p {
      color: $dark-gray;
      font-size: 0.9rem;
      margin-bottom: 1rem;
      @include line-limit(4);
    }
  }
}

.hot-product {
  .hp-img {
    background: url('../assets/img/contact.jpg') no-repeat center center / cover;
    @include margin-y(0, calc(25% + 5rem));

    @include respond-to('large') {
      @include margin-y(0, 5rem);
    }

    .hp-inner {
      width: 85%;
      margin: auto;
      background-color: $white;
      padding: 5vw;
      @include transform-translateY(50%);

      @include respond-to('large') {
        @include transform-translateY(5%);
      }

      .countdown {
        text-align: center;
        color: $primary-color;

        .countdown-item {
          padding: 0.5rem;
          @include border(1px, $primary-color);

          h1 {
            font-size: 2rem;
            font-weight: 300;
            margin-bottom: 0;
          }

          p {
            @include text-uppercase(0.85rem, 400);
          }

          &:nth-of-type(1) {
            border-bottom: 0;
          }

          &:nth-of-type(2) {
            border-left: 0;
            border-bottom: 0;
          }

          &:nth-of-type(4) {
            border-left: 0;
          }
        }
      }
    }
  }
}

.new-product {
  .carousel {
    @include padding-y(0, 4rem);
  }
}

.category {
  padding-bottom: 4rem;

  .category-item {
    height: 200px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .category-text {
      span {
        font-weight: 300;
        font-size: 10px;
        letter-spacing: 2px;
      }
    }
  }
}

.selling-product {
  .carousel {
    @include padding-y(0, 4rem);
  }
}

.more {
  padding-bottom: 2rem;
}

.customer-section {
  text-align: center;

  > span {
    background-color: $primary-color;
    padding: 16px 17px;
    font-size: 1.3rem;
    color: $white;
    border-radius: 50%;
    @include margin-y(1rem, 2rem);
  }

  p {
    @include line-limit(3);
  }

  .customer {
    .carousel {
      @include padding-y(1rem, 3rem);

      .carousel-item {
        text-align: center;

        img {
          @include square(100px, 10px);
        }

        p {
          padding-top: 1rem;

          span {
            display: block;
            font-size: 0.7rem;
            font-style: italic;
            color: $dark-gray;
          }
        }
      }

      .carousel-indicators {
        li {
          width: 8px;
          height: 8px;
          background-color: $dark-gray;
          border-radius: 50%;

          &.active {
            background-color: $primary-color;
          }
        }
      }

      .carousel-control-prev,
      .carousel-control-next {
        display: none;
      }
    }
  }
}
