.banner {
  .banner-img {
    background: url('../assets/img/slide-3.jpg') no-repeat center center / cover;
    height: 35vh;
  }
}

.product {
  @include padding-y(2rem, 4rem);

  .product-sidebar {
    > div {
      padding-bottom: 2rem;
    }

    .product-category {
      h3 {
        color: $dark-gray;
        margin-bottom: 0;
        @include text-uppercase(1.1rem, 500);
      }

      li {
        a {
          position: relative;
          color: $dark-gray;
          font-size: 0.9rem;
          padding: 0;
          overflow: hidden;
          text-align: left;
          white-space: pre-wrap;

          span {
            padding-left: 5px;
          }

          &:after {
            content: '•';
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 1.7rem;
            color: $primary-color;
            @include transform-translate(-1rem, -50%);
            @include transition-easeinout(0.3s);
          }
        }

        &:last-of-type {
          padding-bottom: 0.5rem;
        }

        &:hover,
        &.active {
          a {
            color: $primary-color;
            padding-left: 15px;

            &:after {
              @include transform-translate(0, -50%);
            }
          }
        }
      }
    }

    .product-compare {
      p {
        font-size: 0.85rem;
        color: $dark-gray;
      }
    }

    .product-tag {
      .tags {
        .tag {
          display: inline-block;
          padding: 3px 6px;
          color: $dark-gray;
          font-size: 0.85rem;
          margin-right: 2px;
          margin-bottom: 7px;
          border-radius: 0;
          @include border(1px, $gray);

          &.tag--active {
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
}
