extends ./base/base.pug

block variables
    - const title = "Trang chủ"
    - const current = "/"
    include ./variables/index_variables.pug
    include ./variables/product_variables.pug

include ./components/carousel.pug
include ./components/product.pug

block layout
    include ./partials/header.pug

    section.introduce
        div.introduce-text.col-10.col-md-8.col-lg-6.offset-1.offset-md-2.offset-lg-3.text-center
            h1.title Giới thiệu
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id porro, cupiditate quod nisi neque rem, provident eaque qui vel ducimus exercitationem quos esse mollitia, commodi itaque ipsam deleniti officia. Debitis dignissimos corrupti, quos aperiam, laudantium a, deserunt laborum obcaecati blanditiis aspernatur vero possimus quis neque doloribus optio sequi ad magnam asperiores culpa nesciunt odio? Maxime aliquid nostrum, voluptates ex aspernatur, iusto sit accusantium, consectetur velit voluptas alias modi!
            a.btn.btn-primary Xem thêm

    section.hot-product
        div.col-sm-10.col-md-6.col-lg-10.col-xl-8.offset-sm-1.offset-md-3.offset-lg-1.offset-xl-2
            div.hp-img
                div.hp-inner
                    div.product-item.product-item--big.row
                        div.col-lg-7
                            div.product-img.product--sale
                                img(src="./assets/img/14.jpg", alt="Wine number 14")
                        div.col-lg-5
                            div.product-text
                                h3.subtitle Rượu nho năm 1987
                                div.product-price
                                    p.new-price 330.000
                                        span đ
                                btn.btn.btn-primary Add to cart
                                p.product-desc Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.
                                div.countdown
                                    div.d-flex.flex-wrap
                                        div.countdown-item.col-6
                                            h1 334
                                            p Ngày
                                        div.countdown-item.col-6
                                            h1 26
                                            p Giờ
                                        div.countdown-item.col-6
                                            h1 60
                                            p Phút
                                        div.countdown-item.col-6
                                            h1 15
                                            p Giây

    section.new-product
        div.container
            h1.title Sản phẩm mới
            div.d-none.d-lg-block
                +carouselMultiple("carousel-multiple-1", productItems, 4)
            div.d-none.d-lg-none.d-md-block
                +carouselMultiple("carousel-multiple-1", productItems, 3)
            div.d-none.d-md-none.d-sm-block
                +carouselMultiple("carousel-multiple-1", productItems, 2)
            div.d-sm-none
                +carouselMultiple("carousel-multiple-1", productItems, 1)

    section.category
        div.container-fluid
            div.row
                each item in categories
                    - const { title, year, img } = item
                    div.col-lg-3.col-md-4.col-sm-6.p-0
                        div.category-item.hover-effect-primary(style="background-image: url(./assets/img/" + img + ")")
                            div.category-text.hover-text
                                span=year
                                h1=title


    section.selling-product
        div.container
            h1.title Sản phẩm bán chạy
            div.d-none.d-lg-block
                +carouselMultiple("carousel-multiple-2", productItems.filter(item => item.type === 'hot'), 4)
            div.d-none.d-lg-none.d-md-block
                +carouselMultiple("carousel-multiple-2", productItems.filter(item => item.type === 'hot'), 3)
            div.d-none.d-md-none.d-sm-block
                +carouselMultiple("carousel-multiple-2", productItems.filter(item => item.type === 'hot'), 2)
            div.d-sm-none
                +carouselMultiple("carousel-multiple-2", productItems.filter(item => item.type === 'hot'), 1)

    section.more
        div.container
            div.row
                div.col-lg-8.col-md-6
                    div.news-section
                        h1.title Tin tức &amp; blog
                        div.row
                            div.col-12.col-lg-6
                                div.news-item
                                    div.news-img.hover-effect-secondary
                                        a(href="#" style="background-image: url(./assets/img/slide-1.jpg)")
                                            span.fas.fa-link
                                    div.news-text
                                        a.btn-link(href="#") Vang thăng long classic
                                        h3 Đăng bởi Giangle | 30/06/2015 | 60 bình luận
                                        p Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml.
                                        a.btn.btn-secondary(href="#") Read more 
                            div.col-12.col-lg-6
                                div.news-item
                                    div.news-img.hover-effect-secondary
                                        a(href="#" style="background-image: url(./assets/img/slide-2.jpg)")
                                            span.fas.fa-link
                                    div.news-text
                                        a.btn-link(href="#") Vang thăng long classic
                                        h3 Đăng bởi Giangle | 30/06/2015 | 60 bình luận
                                        p Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml.
                                        a.btn.btn-secondary(href="#") Read more 
                div.col-lg-4.col-md-6
                    div.customer-section
                        h1.title Khách hàng
                        span.fas.fa-quote-right
                        p Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml.
                        a.btn.btn-secondary(href="#") Read more
                        div.customer.col-6.offset-3
                            +carousel("customer", customers[0].img, customers)
                                                        
    include ./partials/footer.pug