.header {
  .header-top {
    .container {
      @include padding-y(0.5rem, 0.5rem);
    }

    .header-top__left {
      @include flex(inherit, center, row);
      .header-top-item {
        @include respond-to('large') {
          &:not(:nth-last-of-type(-n + 2)) {
            display: none;
          }
        }

        .btn-link {
          font-size: 0.85rem;
          color: $dark-gray;
          @include margin-x(0.5rem, 0.5rem);
        }

        &:first-of-type {
          .btn-link {
            margin-left: 0;
          }
        }

        &:not(:last-of-type):after {
          content: '-';
        }
      }
    }

    .header-top__right {
      .input-group {
        position: relative;
        width: 180px;

        @include respond-to('small') {
          width: 100px;
        }

        input {
          width: 100%;
          padding: 0.2rem 1.5rem 0.2rem 0.7rem;
          font-style: italic;
          font-size: 0.8rem;
          @include border(1px, $light-gray, 5px);
        }

        span {
          position: absolute;
          top: 50%;
          right: 7px;
          z-index: 2;
          color: $dark-gray;
          font-size: 0.9rem;
          @include transform-translateY(-50%);
        }
      }
    }
  }

  .navbar {
    position: relative;
    background-color: $black;
    @include padding-y(0.5rem, 0.5rem);

    button {
      color: $primary-color;
      padding: 0.3rem 0.5rem;
      font-size: 1.3rem;
      @include border(2px, $primary-color);
    }

    .navbar-collapse {
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;

      .nav-item {
        margin: 5px 1vw;
        @include flex(center, stretch, row);

        @include respond-to('large') {
          @include flex(flex-start, stretch, column);
        }

        .btn-link {
          color: $white;
          letter-spacing: 2px;
          @include padding-y(5px, 5px);
          @include text-uppercase(0.8rem, 500);

          @include respond-to('large') {
            padding-right: 0;
          }

          &.active {
            color: $primary-color;
          }

          @include respond-to('large') {
            font-size: 0.85rem;
            display: block;

            &.active {
              @include border-bottom(1px, $primary-color);
            }
          }
        }

        > .btn-link {
          @include flex(center, center, row);

          @include respond-to('large') {
            @include flex(flex-start, center, row);
          }
        }

        &:last-of-type {
          padding-right: 0;
        }

        &.submenu {
          > a {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              top: 105%;
              left: 50%;
              @include hidden;
              @include border(9px, transparent);
              @include border-bottom(9px, $primary-color);
              @include transition-easeinout(0.3s);
              @include transform-translate(-50%, -1rem);

              @include respond-to('large') {
                @include border(0, transparent);
              }
            }
          }

          .submenu-content {
            position: absolute;
            left: 50%;
            top: 100%;
            width: 1000px;
            z-index: 10;
            background-color: $white;
            @include hidden;
            @include border(2px, $primary-color);
            @include transition-easeinout(0.3s);
            @include transform-translate(-50%, -1rem);

            .submenu-inner {
              padding: 1.5rem;

              .submenu-item {
                h3 {
                  @include text-uppercase(1rem, 600);
                }

                li {
                  @include padding-y(0.2rem, 0.2rem);

                  .btn-link {
                    color: $dark-gray;
                    letter-spacing: 0;
                    @include text-capitalize(0.9rem, 500);
                  }
                }
              }

              img {
                max-height: 180px;
              }
            }
          }

          &:hover {
            > a {
              color: $primary-color;

              &:before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 30px;
                background-color: transparent;
              }

              &:after {
                @include show;
                @include transform-translate(-50%, 0);
              }
            }

            .submenu-content {
              @include show;
              @include transform-translate(-50%, 0);
            }
          }
        }
      }
    }
  }
}
