mixin pagination(amount, active, ellipsis, last)
    nav
        ul.pagination.justify-content-center
            li.page-item
                a.page-link(href="#")
                    span.fas.fa-caret-left
            - for (let i = 1; i <= amount; i++)
                if (i === active)
                    li.page-item.active
                        a.page-link(href="#")= i
                else if (i === ellipsis)
                    li.page-item.disabled
                        a.page-link(href="#") ...
                else if (i < last && i > ellipsis)
                else
                    li.page-item
                        a.page-link(href="#")= i
            li.page-item
                a.page-link(href="#")
                    span.fas.fa-caret-right